{% extends 'partials/base.html.twig' %}

{% block content %}
  <section id="main">
    <header>
      <div class="wrapper__outer">
        <div class="wrapper__inner">
          <h1>{{ page.header.title }}</h1>
          {{ page.header.subtitle|markdown }}
        </div>
      </div>
    </header>

    <!-- Content -->

    <!-- Landing Pages -->
    {% set work = page.find('/work') %}
    {% set team = page.find('/team') %}
    {% set contact = page.find('/contact') %}

    <!-- Work Pages -->
    {% set artContent = page.find('/work/art-contents') %}
    {% set eventContent = page.find('/work/event-contents') %}
    {% set cbc = page.find('/work/creative-business-consulting') %}
    {% set bdc = page.find('/work/branding-and-design-consulting') %}
    {% set ci = page.find('/work/creative-investment') %}

    <!-- Team Pages -->
    {% set rami = page.find('/team/rami-nuseir') %}
    {% set jill = page.find('/team/jill-buchanan') %}
    {% set carlos = page.find('/team/carlos-alomar') %}
    {% set steve = page.find('/team/steve-savage') %}
    {% set shinjoo = page.find('/team/shinjoo-cho') %}

    <div class="wrapper__outer">
      <div class="wrapper__inner">
        <div class="inner">
          <div id="video-container">
            <video class="main-video" preload="auto" width="1440" height="810" autoplay loop muted playsinline>>
              <source src="user/themes/eg/assets/videos/eg.mp4" type="video/mp4">
              <source src="user/themes/eg/assets/videos/eg" type="video/webm">
            </video>
            <div class="stns">
              <span class="scroll-btn navbar-nav">
                <a href="#" data-nav-section="welcome">
                  <span class="mouse">
                    <span>
                    </span>
                  </span>
                </a>
              </span>
            </div>
          </div>
          <div id="fullpage">
            <div class="section"></div>
            <div class="page section">
              <div class="wrapper--inner fh">
                {{ page.content }}
              </div>
            </div>
            <div class="page bg--jade section">
              <div class="wrapper--inner fh">
                <h2 class="page-title">{{ work.title }}</h2>
                {{ work.content }}
              </div>
            </div>
            <div class="page bg--tangerine section">
              <div class="wrapper--inner fkh">
                <h2 class="page-title">{{ team.title }}</h2>
                {{ team.content }}
              </div>
            </div>
            <div class="page bg--grey section">
              <div class="wrapper--inner fh">
                <h2 class="page-title">{{ contact.title }}</h2>
                {{ contact.content }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="eg-modal eg-modal__work">
    <div class="eg-modal__close__wrapper wrapper--inner">
      <a href="javascript:" class="eg-modal__close work"></a>
    </div>
    <div id="art-contents" class="eg-modal__container wrapper--inner">
      <h2 class="page-title sm">{{ artContent.title }}</h2>
      {{ artContent.content }}
    </div>
    <div id="event-contents" class="eg-modal__container wrapper--inner">
      <h2 class="page-title sm">{{ eventContent.title }}</h2>
      {{ eventContent.content }}
    </div>
    <div id="creative-business-consulting" class="eg-modal__container wrapper--inner">
      <h2 class="page-title sm">{{ cbc.title }}</h2>
      {{ cbc.content }}
    </div>
    <div id="branding-and-design-consulting" class="eg-modal__container wrapper--inner">
      <h2 class="page-title sm">{{ bdc.title }}</h2>
      {{ bdc.content }}
    </div>
    <div id="creative-investment" class="eg-modal__container wrapper--inner">
      <h2 class="page-title sm">{{ ci.title }}</h2>
      {{ ci.content }}
    </div>
  </div>
  <div class="eg-modal eg-modal__team">
    <div class="eg-modal__close__wrapper wrapper--inner">
      <a href="javascript:" class="eg-modal__close team"></a>
    </div>
    <div id="rami-nuseir" class="eg-modal__container wrapper--inner">
      <h2 class="page-title sm">{{ rami.title }}</h2>
      {{ rami.content }}
    </div>
    <div id="jill-buchanan" class="eg-modal__container wrapper--inner">
      <h2 class="page-title sm">{{ jill.title }}</h2>
      {{ jill.content }}
    </div>
    <div id="carlos-alomar" class="eg-modal__container wrapper--inner">
      <h2 class="page-title sm">{{ carlos.title }}</h2>
      {{ carlos.content }}
    </div>
    <div id="steve-savage" class="eg-modal__container wrapper--inner">
      <h2 class="page-title sm">{{ steve.title }}</h2>
      {{ steve.content }}
    </div>
    <div id="shinjoo-cho" class="eg-modal__container wrapper--inner">
      <h2 class="page-title sm">{{ shinjoo.title }}</h2>
      {{ shinjoo.content }}
    </div>
  </div>
{% endblock %}