{% extends 'partials/base.html.twig' %}

{% block content %}
  <section id="main">
    <header>
      <div class="wrapper__outer">
        <div class="wrapper__inner">
          <h1>{{ page.header.title }}</h1>
          {{ page.header.subtitle|markdown }}
        </div>
      </div>
    </header>

    <!-- Content -->
    {% set work = page.find('/work') %}
    {% set team = page.find('/team') %}
    {% set artContent = page.find('/work/art-content') %}
    <div class="wrapper__outer">
      <div class="wrapper__inner">
        <div class="inner">
          <div id="video-container">
            <video class="main-video" preload="auto" width="1440" height="810" autoplay loop muted playsinline>>
              <source src="user/themes/eg/assets/videos/eg.mp4" type="video/mp4">
              <source src="user/themes/eg/assets/videos/eg" type="video/webm">
            </video>
            <div class="stns">
              <span class="scroll-btn navbar-nav">
                <a href="#" data-nav-section="welcome">
                  <span class="mouse">
                    <span>
                    </span>
                  </span>
                </a>
              </span>
            </div>
          </div>
          <div id="fullpage">
            <div class="section"></div>
            <div class="page section">
              <div class="wrapper--inner fh">
                {{ page.content }}
              </div>
            </div>
            <div class="page bg--jade section">
              <div class="wrapper--inner fh">
                <h2 class="page-title">{{ work.title }}</h2>
                {{ work.content }}
              </div>
            </div>
            <div class="page bg--tangerine section">
              <div class="wrapper--inner fh">
                <h2 class="page-title">{{ team.title }}</h2>
                {{ team.content }}
              </div>
            </div>
          </div>
          {#{% include 'partials/features.html.twig' with { 'features': page.header.features } %}#}
        </div>
      </div>
    </div>
  </section>
  <div class="eg-modal">
    <div class="eg-modal__close__wrapper wrapper--inner">
      <a href="javascript:" class="eg-modal__close"></a>
    </div>
    <div id="artContent" class="eg-modal__container wrapper--inner">
      <h2 class="page-title sm">{{ artContent.title }}</h2>
      {{ artContent.content }}
    </div>
  </div>
{% endblock %}